@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    @apply max-w-screen-xl;
    @apply px-0;

}


.fade-enter-active,
.fade-leave-active {
    @apply transition-all;
    @apply duration-200;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.post-card {
    transition: all .25s cubic-bezier(.02, .01, .47, 1);

    &:hover {
        transform: translateY(-5px);
    }

    @apply relative;
    @apply bg-white;
    @apply border;
    @apply border-gray-200;


    .post-card-author {
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply z-10;
    }

    .post-card-image {
        @apply h-56;
        @apply w-full;
        @apply object-cover;
        @apply rounded-lg;
        @apply relative;
        @apply rounded-b-none
    }

    .post-card-title {
        @apply leading-8;
        @apply text-2xl;
    }

    .post-card-excerpt {
        @apply font-serif;
    }

    .post-card-content {
        @apply bg-white;
        @apply relative;
        @apply flex-1;
    }

    .post-card-footer {
        @apply absolute;
        @apply bottom-0;
    }
}

.header {
    min-height: 500px;
}

@media (max-width: 767px) {
    .header {
        min-height: 360px;
    }
}

.headroom {
    z-index: 500 !important;
    @apply shadow-md;
    @apply bg-white;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
    Based on: https://codepen.io/nickelse/pen/YGPJQG
    Influenced by: https://sproutsocial.com/
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


/* #Mega Menu Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
    left: 0;
    top: 0;
    @apply mt-16;
    @apply w-full;
    @apply absolute;
    @apply text-left;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
    Tooltip and Popover 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.tooltip {

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }

    &.card-author-tooltip {
        @apply z-1000;
        @apply bg-black; 
        @apply text-xs;
        @apply px-2;
        @apply leading-normal;
        @apply py-1;
        @apply rounded;
        @apply absolute;
        @apply text-gray-400;
        @apply max-w-xs;
        @apply ml-2;
        @apply mt-3;

        &::after, &::before {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &::after {
            border-color: rgba(0, 0, 0, 0);
            border-right-color: #000000;
            border-width: 4px;
            margin-top: -4px;
        }

        &::before {
            border-color: rgba(0, 0, 0, 0);
            border-right-color: #000;
            border-width: 4px;
            margin-top: -4px;
        }
    }

    &.navbar-popover {

        @apply bg-black;
        @apply text-xs;
        @apply px-2;
        @apply leading-normal;
        @apply py-1;
        @apply rounded;
        @apply absolute;
        @apply text-gray-400;
        @apply max-w-xs;
        @apply ml-2;
        @apply -mt-3;
        @apply z-1000;

        &::after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            @apply h-0;
            @apply w-0;
            pointer-events: none;
            @apply absolute;
            @apply border-8;
            border-bottom-color: #000;

            margin-left: -8px;
        }

    }
}